@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}



/* todo */

.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #222;
    transition: all 0.3s ease-in-out;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.navbar.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar.active a{
    color: #000;
}

.navbar.active .container{
    padding: 10px 0;
}

.navbar a.current,
.navbar a:hover{
    color: #c0392b;
    font-weight: bold;
}

.hero{
    background-image: url(/img/showcase.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero h1{
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2, .content h3{
    font-size: 150%;
    margin: 20px 0;
}

.content p{
    line-height: 30px;
    color: #555;
    letter-spacing: 1.2;
}
